# Group Assignment

### Import the necessary libraries

In [1]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime as dt

## PART I

## Examination of the January Effect
### The January Effect's main hypothesis states that stock returns are, on average, higher during January than during other months.

### 1. Download pricing data from Yahoo!Finance for each of the stocks in the ticker_list below and compute the continuously compounded daily returns using the Adjusted Closing price. Store these daily returns in a DataFrame called returns. Label the columns as 'RET_ticker', where ticker represents the trading symbol of the stock whose returns are stored in that column.

In [2]:
ticker_list = ['AAPL', 'AXP', 'BA', 'CAT', 'CSCO', 'CVX', 'DIS', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO',
            'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'TRV', 'UNH', 'UTX', 'V', 'VZ', 'WMT', 'XOM']

In [3]:
yahoo = web.DataReader(ticker_list, 'yahoo')

In [4]:
yahoo.head()

Attributes   Adj Close                                               \
Symbols           AAPL        AXP          BA        CAT       CSCO
Date
2015-03-23  117.066200  75.991508  133.446930  68.497742  24.263922
2015-03-24  116.587677  75.224182  132.433884  67.982475  23.913759
2015-03-25  113.541618  74.059357  129.447250  67.458748  23.452562
2015-03-26  114.333046  72.552475  129.394867  67.475639  23.136559
2015-03-27  113.421997  72.080978  129.988678  67.298256  23.170719

Attributes                                                             ...  \
Symbols           CVX         DIS          GS          HD         IBM  ...
Date                                                                   ...
2015-03-23  86.166611  100.862495  177.538681  103.510704  132.212097  ...
2015-03-24  84.767357   99.827957  176.909760  103.582047  130.903015  ...
2015-03-25  85.963242   97.861412  173.275009  101.379303  127.851295  ...
2015-03-26  85.621552   98.085091  173.173279  100.211075  128.967529  ...
2015-03-27  84.832466   98.308769  173.931717  101.539833  128.815002  ...

Attributes      Volume                                               \
Symbols            NKE         PFE         PG        TRV        UNH
Date
2015-03-23  10471800.0  50806000.0  9891100.0  1535500.0  4576500.0
2015-03-24   7598800.0  33163100.0  7478800.0  1217000.0  3054700.0
2015-03-25   8133400.0  29206100.0  8482200.0  1663600.0  3385500.0
2015-03-26   9479800.0  24826900.0  7311600.0  1489800.0  2856400.0
2015-03-27   4403600.0  22840400.0  6440600.0  1467800.0  2608500.0

Attributes
Symbols           UTX           V          VZ        WMT         XOM
Date
2015-03-23  4542800.0   8128000.0  13131700.0  6505700.0  17450700.0
2015-03-24  4033800.0   6534800.0  11419600.0  5359100.0  10174300.0
2015-03-25  4456500.0  13054300.0  14915500.0  6645900.0  11934700.0
2015-03-26  4389700.0   9487200.0  17919400.0  8267200.0  14400700.0
2015-03-27  2804000.0   6521100.0  11716500.0  5717400.0  11579300.0

[5 rows x 168 columns]

In [5]:
adj_close = yahoo['Adj Close']
tickers = adj_close.columns

In [6]:
returns = pd.DataFrame() 
for ticker in tickers:
    returns['RET_'+ticker]= np.log(adj_close[ticker]/adj_close[ticker].shift(1))

    
returns # return for each ticker

,RET_AAPL,RET_AXP,RET_BA,RET_CAT,RET_CSCO,RET_CVX,RET_DIS,RET_GS,RET_HD,RET_IBM,...,RET_NKE,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_UTX,RET_V,RET_VZ,RET_WMT,RET_XOM
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-24,-0.004096,-0.010149,-0.007620,-0.007551,-0.014537,-0.016372,-0.010310,-0.003549,0.000689,-0.009951,...,-0.008015,-0.015237,-0.011139,-0.003564,-0.007759,0.002020,0.000298,-0.004644,-0.003126,-0.010709
2015-03-25,-0.026474,-0.015606,-0.022810,-0.007734,-0.019474,0.014009,-0.019896,-0.020760,-0.021495,-0.023589,...,-0.016630,-0.006393,-0.010903,-0.014942,-0.013466,-0.020903,-0.020628,-0.013858,-0.021051,0.004014
2015-03-26,0.006946,-0.020557,-0.000405,0.000250,-0.013566,-0.003983,0.002283,-0.000587,-0.011590,0.008693,...,0.003429,-0.004090,-0.010414,-0.007275,-0.002491,-0.003613,-0.002132,-0.006382,0.006985,-0.006384
2015-03-27,-0.008000,-0.006520,0.004579,-0.002632,0.001475,-0.009259,0.002278,0.004370,0.013172,-0.001183,...,0.005522,0.010773,0.001946,0.002804,0.015026,0.007384,-0.000763,0.002887,-0.006616,-0.008814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-16,-0.137708,-0.148328,-0.272444,-0.064565,-0.110273,-0.179688,-0.076076,-0.135881,-0.220570,-0.085741,...,-0.123638,-0.080501,-0.050062,-0.233199,-0.189671,-0.147673,-0.145571,-0.060498,-0.066492,-0.100070
2020-03-17,0.043031,0.008234,-0.043120,0.070170,0.051738,0.014104,-0.015700,0.025597,0.051281,0.073625,...,0.044653,0.063544,0.085966,0.124783,0.081791,0.020788,0.037952,0.063079,0.110723,0.065100
2020-03-18,-0.024785,-0.160388,-0.197516,-0.000799,0.044623,-0.250062,-0.051896,-0.125041,-0.109503,-0.029498,...,-0.026111,0.006200,-0.006704,-0.165678,-0.117896,-0.156379,-0.061448,0.000184,0.027458,-0.105632
2020-03-19,-0.007692,0.044033,-0.041890,0.028457,0.015769,0.041628,0.066753,0.065444,0.034730,-0.031490,...,0.033245,-0.061823,-0.058015,0.052229,0.012544,0.053457,0.025074,-0.012970,-0.021451,0.038791
2020-03-20,-0.065590,-0.039029,-0.028022,-0.075700,-0.057580,0.034256,-0.099025,-0.077009,-0.057345,-0.050591,...,-0.041954,-0.047460,-0.078818,0.039189,-0.061982,-0.014794,-0.036248,-0.034532,-0.046963,-0.050331

### 2. Compute the monthly returns and store them in a DataFrame named returns_mon. (*Use the resample() method and the rule = 'BM' - Business Month End to compute the monthly returns*).

In [7]:
returns_mon = returns.resample(rule='BM').sum() ## check with prof - mean/sum???
returns_mon

,RET_AAPL,RET_AXP,RET_BA,RET_CAT,RET_CSCO,RET_CVX,RET_DIS,RET_GS,RET_HD,RET_IBM,...,RET_NKE,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_UTX,RET_V,RET_VZ,RET_WMT,RET_XOM
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-31,-0.022096,-0.047573,-0.018027,-0.013158,-0.023841,-0.008914,-0.031254,-0.021005,-0.021422,-0.025407,...,-0.011200,-0.007446,-0.035016,-0.013686,-0.006320,-0.012549,-0.025211,-0.020556,-0.012805,-0.005046
2015-04-30,0.005770,-0.008614,-0.045949,0.090380,0.046140,0.056301,0.035864,0.043973,-0.060129,0.065064,...,-0.014962,-0.025031,-0.022094,-0.067125,-0.060012,-0.029879,0.009737,0.047769,-0.052413,0.027501
2015-05-29,0.044341,0.028888,-0.013481,-0.018119,0.016512,-0.065426,0.015063,0.051657,0.040665,0.005593,...,0.033690,0.032121,-0.014186,0.000099,0.076113,0.035091,0.040795,-0.020025,-0.043352,-0.016914
2015-06-30,-0.037938,-0.021673,-0.012892,-0.005877,-0.065198,-0.065497,0.033587,0.012531,0.002691,-0.042075,...,0.060584,-0.035739,-0.001915,-0.038947,0.019007,-0.054727,-0.022529,-0.058945,-0.046013,-0.023754
2015-07-31,-0.033481,-0.021590,0.038536,-0.066587,0.042040,-0.086455,0.055865,-0.017978,0.051729,-0.004127,...,0.064527,0.072744,-0.011725,0.093371,-0.004930,-0.100634,0.115082,0.015563,0.014695,-0.049144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-29,0.074694,0.023927,0.080263,0.049066,-0.047412,0.018293,0.154195,0.042293,-0.061854,0.017111,...,0.045663,0.013520,-0.019873,0.042280,0.102122,0.037583,0.032774,-0.003811,0.015486,0.020241
2019-12-31,0.094204,0.035734,-0.116964,0.020178,0.056840,0.028448,-0.040961,0.038030,-0.003331,-0.003054,...,0.080331,0.016989,0.023001,0.007741,0.053024,0.009527,0.018206,0.019073,0.002374,0.023930
2020-01-31,0.052602,0.045769,-0.023261,-0.110192,-0.035054,-0.117596,-0.044681,0.033445,0.043548,0.069798,...,-0.050717,-0.040620,0.003679,-0.039697,-0.076057,0.002934,0.057244,-0.022089,-0.037291,-0.116279
2020-02-28,-0.121830,-0.166690,-0.139797,-0.055650,-0.140861,-0.126268,-0.161783,-0.162964,-0.046023,-0.088861,...,-0.071801,-0.108229,-0.095848,-0.094012,-0.066348,-0.135157,-0.089020,-0.093025,-0.061324,-0.174398
2020-03-31,-0.176020,-0.394158,-1.063189,-0.263089,-0.114782,-0.452123,-0.313599,-0.371940,-0.352226,-0.310714,...,-0.281510,-0.141514,-0.100242,-0.284967,-0.206048,-0.458901,-0.213412,-0.044552,0.061186,-0.451818

### 3. Create a dummy variable (labeled "JAN_DUMMY") in the DataFrame returns_mon, and assign it a value of 1 if the month is January, and 0 otherwise.

In [8]:
returns_mon.reset_index(inplace=True)

In [14]:



returns_mon.loc[returns_mon['Date'].dt.month==1, 'JAN_DUMMY']=1
returns_mon.loc[returns_mon['Date'].dt.month!=1, 'JAN_DUMMY']=0

returns_mon.head(12)

,Date,RET_AAPL,RET_AXP,RET_BA,RET_CAT,RET_CSCO,RET_CVX,RET_DIS,RET_GS,RET_HD,...,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_UTX,RET_V,RET_VZ,RET_WMT,RET_XOM,JAN_DUMMY
0,2015-03-31,-0.022096,-0.047573,-0.018027,-0.013158,-0.023841,-0.008914,-0.031254,-0.021005,-0.021422,...,-0.007446,-0.035016,-0.013686,-0.006320,-0.012549,-0.025211,-0.020556,-0.012805,-0.005046,0.0
1,2015-04-30,0.005770,-0.008614,-0.045949,0.090380,0.046140,0.056301,0.035864,0.043973,-0.060129,...,-0.025031,-0.022094,-0.067125,-0.060012,-0.029879,0.009737,0.047769,-0.052413,0.027501,0.0
2,2015-05-29,0.044341,0.028888,-0.013481,-0.018119,0.016512,-0.065426,0.015063,0.051657,0.040665,...,0.032121,-0.014186,0.000099,0.076113,0.035091,0.040795,-0.020025,-0.043352,-0.016914,0.0
3,2015-06-30,-0.037938,-0.021673,-0.012892,-0.005877,-0.065198,-0.065497,0.033587,0.012531,0.002691,...,-0.035739,-0.001915,-0.038947,0.019007,-0.054727,-0.022529,-0.058945,-0.046013,-0.023754,0.0
4,2015-07-31,-0.033481,-0.021590,0.038536,-0.066587,0.042040,-0.086455,0.055865,-0.017978,0.051729,...,0.072744,-0.011725,0.093371,-0.004930,-0.100634,0.115082,0.015563,0.014695,-0.049144,0.0
5,2015-08-31,-0.068489,0.008640,-0.091882,-0.028247,-0.093623,-0.075930,-0.163696,-0.080282,-0.004882,...,-0.104813,-0.081881,-0.063911,-0.048090,-0.084214,-0.053478,-0.016811,-0.099358,-0.042107,0.0
6,2015-09-30,-0.022058,-0.034342,0.002064,-0.156596,0.014196,-0.026398,0.003136,-0.081953,-0.003285,...,-0.025461,0.017811,0.006058,0.006992,-0.029016,-0.023270,-0.055868,0.001698,-0.011899,0.0
7,2015-10-30,0.080113,-0.008028,0.122870,0.121526,0.102476,0.141612,0.106984,0.076104,0.068190,...,0.073926,0.068835,0.125955,0.015142,0.100618,0.107683,0.087507,-0.124670,0.106919,0.0
8,2015-11-30,-0.005821,-0.022361,-0.011689,-0.004669,-0.057056,0.016969,-0.002377,0.016769,0.079570,...,-0.023500,-0.020368,0.014772,-0.044000,-0.017831,0.020060,-0.030978,0.027569,-0.004459,0.0
9,2015-12-31,-0.116790,-0.029608,-0.005930,-0.066734,-0.003308,-0.015005,-0.070427,-0.052896,-0.007833,...,-0.015066,0.059272,-0.009653,0.047121,0.000208,-0.018651,0.016800,0.049299,-0.046497,0.0
10,2016-01-29,-0.078223,-0.257997,-0.185328,-0.062534,-0.124718,-0.039568,-0.092250,-0.109357,-0.050319,...,-0.057049,0.036984,-0.052945,-0.021307,-0.091269,-0.040258,0.090235,0.079315,-0.001284,1.0
11,2016-02-29,-0.001288,0.038142,-0.007154,0.084088,0.095730,-0.023066,-0.003136,-0.073044,-0.013127,...,-0.017259,-0.017287,0.004474,0.033641,0.104406,-0.024575,0.015095,-0.000302,0.038151,0.0

In [15]:
returns_mon.set_index('Date', inplace=True)
returns_mon.head(12)

,RET_AAPL,RET_AXP,RET_BA,RET_CAT,RET_CSCO,RET_CVX,RET_DIS,RET_GS,RET_HD,RET_IBM,...,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_UTX,RET_V,RET_VZ,RET_WMT,RET_XOM,JAN_DUMMY
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-31,-0.022096,-0.047573,-0.018027,-0.013158,-0.023841,-0.008914,-0.031254,-0.021005,-0.021422,-0.025407,...,-0.007446,-0.035016,-0.013686,-0.006320,-0.012549,-0.025211,-0.020556,-0.012805,-0.005046,0.0
2015-04-30,0.005770,-0.008614,-0.045949,0.090380,0.046140,0.056301,0.035864,0.043973,-0.060129,0.065064,...,-0.025031,-0.022094,-0.067125,-0.060012,-0.029879,0.009737,0.047769,-0.052413,0.027501,0.0
2015-05-29,0.044341,0.028888,-0.013481,-0.018119,0.016512,-0.065426,0.015063,0.051657,0.040665,0.005593,...,0.032121,-0.014186,0.000099,0.076113,0.035091,0.040795,-0.020025,-0.043352,-0.016914,0.0
2015-06-30,-0.037938,-0.021673,-0.012892,-0.005877,-0.065198,-0.065497,0.033587,0.012531,0.002691,-0.042075,...,-0.035739,-0.001915,-0.038947,0.019007,-0.054727,-0.022529,-0.058945,-0.046013,-0.023754,0.0
2015-07-31,-0.033481,-0.021590,0.038536,-0.066587,0.042040,-0.086455,0.055865,-0.017978,0.051729,-0.004127,...,0.072744,-0.011725,0.093371,-0.004930,-0.100634,0.115082,0.015563,0.014695,-0.049144,0.0
2015-08-31,-0.068489,0.008640,-0.091882,-0.028247,-0.093623,-0.075930,-0.163696,-0.080282,-0.004882,-0.082799,...,-0.104813,-0.081881,-0.063911,-0.048090,-0.084214,-0.053478,-0.016811,-0.099358,-0.042107,0.0
2015-09-30,-0.022058,-0.034342,0.002064,-0.156596,0.014196,-0.026398,0.003136,-0.081953,-0.003285,-0.019942,...,-0.025461,0.017811,0.006058,0.006992,-0.029016,-0.023270,-0.055868,0.001698,-0.011899,0.0
2015-10-30,0.080113,-0.008028,0.122870,0.121526,0.102476,0.141612,0.106984,0.076104,0.068190,-0.034313,...,0.073926,0.068835,0.125955,0.015142,0.100618,0.107683,0.087507,-0.124670,0.106919,0.0
2015-11-30,-0.005821,-0.022361,-0.011689,-0.004669,-0.057056,0.016969,-0.002377,0.016769,0.079570,0.004614,...,-0.023500,-0.020368,0.014772,-0.044000,-0.017831,0.020060,-0.030978,0.027569,-0.004459,0.0
2015-12-31,-0.116790,-0.029608,-0.005930,-0.066734,-0.003308,-0.015005,-0.070427,-0.052896,-0.007833,-0.012995,...,-0.015066,0.059272,-0.009653,0.047121,0.000208,-0.018651,0.016800,0.049299,-0.046497,0.0
2016-01-29,-0.078223,-0.257997,-0.185328,-0.062534,-0.124718,-0.039568,-0.092250,-0.109357,-0.050319,-0.097864,...,-0.057049,0.036984,-0.052945,-0.021307,-0.091269,-0.040258,0.090235,0.079315,-0.001284,1.0
2016-02-29,-0.001288,0.038142,-0.007154,0.084088,0.095730,-0.023066,-0.003136,-0.073044,-0.013127,0.058957,...,-0.017259,-0.017287,0.004474,0.033641,0.104406,-0.024575,0.015095,-0.000302,0.038151,0.0

### 4. Use the DataFrame returns_mon to compute the average returns in January, and during non-January months for each year and for each stock, and store them in a new DataFrame named returns_jan_mon.

In [ ]:
# calculate average monthly returns for every year ?? clarification on this one


# store january calculation in a seperate data frame

### 5. a. Use the DataFrame returns_mon_jan to test, for each stock, whether the average return in January is higher than the average return on non-January months. Store the t-tests and p-values in a Dataframe called results_stock, along with the average returns in January, and during non-January months for each stock. The heading for the DataFrame is found below:

In [ ]:
results_stock.head(0)

### 5. b. Use the DataFrame results_stock to output the stocks for which the January effect hypothesis is true with a 95% degree of confidence. What about the observations where the hypothesis is true with 90% degree of confidence.

### 6. a. Use the DataFrame returns_mon_jan to test, for each year, whether the average return in January is different from the average return on non-January months. Store the t-tests and p-values in a Dataframe called results_year, along with the average returns in January, and during non-January months for each year. The heading for the DataFrame is found below:

In [ ]:
results_stock.head(0)

### 6. b. Use the DataFrame results_year to output the observations where the January effect hypothesis is true with a 95% degree of confidence. What about the observations where the hypothesis is true with 90% degree of confidence.

### 7. Create a bar plot of the average return in January, as well as the average return across all non-January months, for each year in the sample.

### 8. Briefly explain whether the evidence is consistent with the January effect, and if not, name a couple of limitations of our dataset and/or approach.

### The following questions apply to a random sample of fifteen stocks that your group will select by running the following code

### Random Stock Selection

In [18]:
np.random.seed (1000 + 1) 
ticker_list = ['AAPL', 'AXP', 'BA', 'CAT', 'CSCO', 'CVX', 'DIS', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO',
            'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'TRV', 'UNH', 'UTX', 'V', 'VZ', 'WMT', 'XOM']
stock_lst = np.random.choice(ticker_list,15,replace=False)
stock_lst

array(['WMT', 'PG', 'GS', 'MMM', 'INTC', 'JNJ', 'TRV', 'NKE', 'PFE', 'BA',
       'AAPL', 'AXP', 'MSFT', 'MRK', 'UNH'], dtype='<U4')

## PART II

### 1. Modify the returns_mon DataFrame to store only the monthly return for the fifteen stocks designated for your group.

In [21]:
returns_mon_mod = returns_mon.copy()

for col in returns_mon_mod.columns:
    ticker = col[4:]
    if ticker not in stock_lst:
        returns_mon_mod.drop(col, axis=1, inplace=True)

In [23]:
returns_mon_mod.head()

,RET_AAPL,RET_AXP,RET_BA,RET_GS,RET_INTC,RET_JNJ,RET_MMM,RET_MRK,RET_MSFT,RET_NKE,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_WMT
Date,,,,,,,,,,,,,,,
2015-03-31,-0.022096,-0.047573,-0.018027,-0.021005,0.002241,-0.023383,-0.007129,-0.021514,-0.052694,-0.011200,-0.007446,-0.035016,-0.013686,-0.006320,-0.012805
2015-04-30,0.005770,-0.008614,-0.045949,0.043973,0.040118,-0.014014,-0.053289,0.035547,0.179202,-0.014962,-0.025031,-0.022094,-0.067125,-0.060012,-0.052413
2015-05-29,0.044341,0.028888,-0.013481,0.051657,0.064227,0.016697,0.023358,0.022085,-0.030804,0.033690,0.032121,-0.014186,0.000099,0.076113,-0.043352
2015-06-30,-0.037938,-0.021673,-0.012892,0.012531,-0.124699,-0.027127,-0.030508,-0.059669,-0.059571,0.060584,-0.035739,-0.001915,-0.038947,0.019007,-0.046013
2015-07-31,-0.033481,-0.021590,0.038536,-0.017978,-0.049530,0.027826,-0.019370,0.035037,0.056151,0.064527,0.072744,-0.011725,0.093371,-0.004930,0.014695

### 2. For each stock, compute the cumulative return series over the entire sample (no reset), and store the series in a new DataFrame named sample_ret.

In [29]:
sample_ret = (1+returns_mon_mod[:]).cumprod()-1

In [31]:
sample_ret.head()

,RET_AAPL,RET_AXP,RET_BA,RET_GS,RET_INTC,RET_JNJ,RET_MMM,RET_MRK,RET_MSFT,RET_NKE,RET_PFE,RET_PG,RET_TRV,RET_UNH,RET_WMT
Date,,,,,,,,,,,,,,,
2015-03-31,-0.022096,-0.047573,-0.018027,-0.021005,0.002241,-0.023383,-0.007129,-0.021514,-0.052694,-0.011200,-0.007446,-0.035016,-0.013686,-0.006320,-0.012805
2015-04-30,-0.016454,-0.055776,-0.063148,0.022045,0.042449,-0.037069,-0.060038,0.013269,0.117064,-0.025995,-0.032290,-0.056336,-0.079892,-0.065953,-0.064548
2015-05-29,0.027158,-0.028500,-0.075778,0.074840,0.109402,-0.020991,-0.038083,0.035647,0.082654,0.006820,-0.001207,-0.069723,-0.079801,0.005140,-0.105101
2015-06-30,-0.011810,-0.049555,-0.087693,0.088309,-0.028939,-0.047549,-0.067429,-0.026149,0.018159,0.067817,-0.036903,-0.071505,-0.115640,0.024245,-0.146278
2015-07-31,-0.044896,-0.070075,-0.052537,0.068744,-0.077035,-0.021046,-0.085493,0.007971,0.075330,0.136720,0.033157,-0.082392,-0.033066,0.019195,-0.133733

### 3a. Which stocks were the top three performers. What were their cumulative returns over the entire sample period?

In [56]:
# is it the sum or average returns for top performer

sorted_sample=sample_ret.tail(1).sort_values(by='2020-03-31', axis=1)
sorted_sample

,RET_BA,RET_GS,RET_MMM,RET_AXP,RET_TRV,RET_PFE,RET_NKE,RET_JNJ,RET_MRK,RET_PG,RET_WMT,RET_INTC,RET_AAPL,RET_UNH,RET_MSFT
Date,,,,,,,,,,,,,,,
2020-03-31,-1.10788,-0.395327,-0.230721,-0.224689,-0.193023,-0.084936,0.223632,0.255156,0.302525,0.331316,0.420949,0.453518,0.601707,0.664078,2.14342

In [57]:
sorted_sample.iloc[:, [-3,-2,-1]]

            RET_AAPL   RET_UNH  RET_MSFT
Date
2020-03-31  0.601707  0.664078   2.14342

### 3b. Which stocks were the worst three performers. What were their cumulative returns over the entire sample period?

In [58]:
sorted_sample.iloc[:, [0,1,2]]

             RET_BA    RET_GS   RET_MMM
Date
2020-03-31 -1.10788 -0.395327 -0.230721

### 3c. Create a line plot of the series for the stocks with the highest three and lowest three cumulative returns.

In [ ]:
## ask about what the axis would be for this

## PART III

### 1. Use the DataFrame returns_mon to create a new DataFrame named data_intial that only has the data from January 2013 to December 2017. In addition, create another DataFrame named data_post to store the 2018 and 2019 data.

In [ ]:
#slice by date

In [ ]:
#slice by date

### 2. Create a DataFrame named rf_rate to store the risk free rate over the period from January 2013 to December 2019. The risk-free rate  is available in the ff_factors19.csv file on Blackboard.

In [ ]:
#reading in data

### 3a. Use the DataFrames data_initial and rf_rate, in conjunction with Scipy' s minimize() function to find the optimal portfolio (highest Sharpe ratio) from the universe of stocks comprised of all the stocks in your sample. (Assume there are no short-selling constraints).

In [ ]:
# more finance topics lecture material

### 3b. The weights of the stocks in the optimal portfolio are:

### 3c. The optimal portfolio return is:

### 3d. The optimal portfolio standard deviation is:

### 3e. The Sharpe Ratio the optimal portfolio is:

### 4a. What is the return of the Global Minimum Variance Portfolio (GMVP)

### 4b. What is the standard deviation of the Global Minimum Variance Portfolio (GMVP)

### 4c. What are the weights of the stocks in the Global Minimum Variance Portfolio (GMVP)

### 5. Use Scipy's minimize() function to solve for the efficient frontier. In addition, plot it, add to the plot the fifteen stocks, the GMVP, the optimal portfolio, as well as the Capital Allocation Line.

## PART IV

### 1. Create a DataFrame named weights with three columns: 1) TICKER; 2) Optimal_Weights and 3) Equal_Weights for each ticker.

In [ ]:
# creating df

### 2. Using the DataFrames data_post and weights, compute the two portfolio (Optimal and Equal-weighted) monthy returns over the period January 1st, 2018 and December 31st, 2019. Store the portfolio returns into a new DataFrame named port_returns. Label the two columns as 'Optimal Portfolio' and 'EW_Portfolio'

In [ ]:
# we have to do part three before this

### 3. In a single output, provide summary statistics on the two portfolios.

In [ ]:
# one function

### 4a. Compute the two-year cumulative return series for both portfolios and plot them in the same graph.

### 4b. What was the two-year cumulative return for the best performer? What was the two-year cumulative return for the worst performer?